.navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: orange;
}
#breaking {
    display: flex;
    order: -1;
    font-size: 20px;
    flex-wrap: wrap;
    justify-content:center
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
