body {
    display: flex;
    justify-content: center;
}

.pagina {
    display: flex;
    flex-direction: column;
    width: 380px;
}

div {
    width: 200px;
}

.eerste {
    background-color: darkkhaki;
    width: 188px;
    height: 88px;
    padding: 6px;
}

.tweede {
    background-color: mediumpurple;
    height: 200px;
    align-self: flex-end;
}

.stats {
    width: 5rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
