table, td, th {
    border: solid black 1px;
    padding: 10px;
}
body{
    background-color: bisque;
}
nav{
    background-color: white;
    color: green;
    width: 200px;
}
article{
    border: solid black 3px;

}
.present{
    background-color: lightgreen;
}
input{
    font-family: monospace;
    color: green;
}
h1{
    font-size: 20px;
}
span{
    color: green;
}