html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex-grow: 1;
}

footer {
    flex: 0 0 auto;
    height: 60px;
    background-color: #1A1A1A;
    color: white;
    text-align: center;
    padding: 1rem 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: relative;
    margin-top: auto;
}

footer p {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin: 0;
}

footer a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.2s ease-in-out;
}

footer a:hover {
    text-decoration: underline;
}